@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul>
    <li>Arroz</li>
    <li>Pasta</li>
    <li>Lentejas</li>
    <li>Pollo</li>
</ul>

@Html.ActionLink("Saludo", "Saludo", "Home")