@using Biblioteca
@using BonusTrack.Models
@model clsMisiones

@{
    ViewData["Title"] = "Home Page";
}


<select>
    @{
            foreach (clsMisiones misiones in ListadoMisiones.listarMisiones())
            {
                if (Model != null)
                {
                    <option selected value="@Model.NombreMision">@Model.NombreMision</option>
                }
                else
                {
                    <option value="@misiones.NombreMision">@misiones.NombreMision</option>
                }              
            }   
}   

</select>



@using (Html.BeginForm(FormMethod.Post))
{
    <button type="submit"
            style="border:groove; border-radius:10px"
            action="Index">
        Detalles
    </button>
}
