@using Biblioteca
@model List<Biblioteca.clsMisiones>

@{
    ViewData["Title"] = "Home Page";
}

@{  
    if (Model != null){
        
        foreach (clsMisiones misiones in Model)
        {
            <hr/>
            <h1>@misiones.NombreMision</h1>
            <hr />
        }
    }
    else
    {
        <p>No hay misiones</p>
    }
}   
